{% if page.header == NULL and page.header.image_fullwidth == NULL and page.header.pattern == NULL and page.header.background-color == NULL and page.header.title == NULL %}

	<div id="masthead-no-image-header">
		<div class="row">
			<div class="small-12 columns">
				<a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
					<img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}">
				</a>
			</div><!-- /.small-12.columns -->
		</div><!-- /.row -->
	</div><!-- /#masthead -->

	{% if page.breadcrumb == true %}
		{% include _breadcrumb.html %}
	{% endif %}

{% elsif page.header.title %}
	<div class="row" style="margin: 0px; width: 100%; max-width: none;
	{% if page.homepage %}
		 height: 500px;
	{% endif %}">
		<div id="masthead-with-text"
			{% if page.homepage %}
				class="masterhead-home small-9 columns"
				style="height: 500px;display: flex;align-items: flex-end;justify-content: flex-end;
			{% endif %}
			{% if page.header.background-color %}
				background: {{ page.header.background-color }};
			{% endif %}
			{% if page.header.pattern %}
				background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('{{ site.urlimg }}/{{ page.header.pattern }}')
			{% endif %}">
			<a style="color: #FFFFFF;height: 100px;line-height: 100px;display:flex;margin-bottom: 76px;" href="{% if page.header.link %}{{ page.header.link }}{% else %}#{% endif%}">
				{% if page.homepage %}
					<div style="width: 0;height: 0;border-top: 0px solid transparent;border-bottom: 100px solid transparent;border-right: 18px solid rgba(0,0,0,0.8);margin: 0;padding: 0;"></div>
				{% endif %}
				{% if page.homepage %}
				<div class="masthead-title" style="background-color: rgba(0,0,0,0.8);padding: 0 15px;">{{ page.header.title }}</div>
				{% endif%}
			</a>
		</div><!-- /#masthead -->
		{% if page.homepage %}
			{% include _next_race.html %}
		{% endif %}
	</div>

	{% if page.breadcrumb == true %}
		{% include _breadcrumb.html %}
	{% endif %}

	{% if page.header.caption_url && page.header.caption %}
		<div class="masthead-caption">
			<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
		</div>
	{% elsif page.header.caption %}
		<div class="masthead-caption">
			{{ page.header.caption }}
		</div>
	{% endif %}

{% elsif page.header.image_fullwidth %}

	<div id="masthead">
		<div class="row">
			<div class="small-12 columns">
				<a id="logo" href="{{ '/' | absolute_url }}" title="{{ site.title }} – {{ site.slogan }}">
					<img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}">
				</a>
			</div><!-- /.small-12.columns -->
		</div><!-- /.row -->
	</div><!-- /#masthead -->

	{% if page.breadcrumb == true %}
		{% include _breadcrumb.html %}
	{% endif %}

	{% if page.header.caption_url && page.header.caption %}
		<div class="masthead-caption">
			<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
		</div>
	{% elsif page.header.caption %}
		<div class="masthead-caption">
			{{ page.header.caption }}
		</div>
	{% endif %}

{% elsif page.header.pattern %}

	<div id="masthead-with-pattern" style="background: url('{{ site.urlimg }}/{{ page.header.pattern }}')">
		<div class="row">
			<figure class="small-12 columns">
				<img src="{{ site.urlimg }}/{{ page.header.image }}" alt="{{ site.title }}">
			</figure><!-- /.small-12.columns -->
		</div><!-- /.row -->
	</div><!-- /#masthead -->

	{% if page.breadcrumb == true %}
		{% include _breadcrumb.html %}
	{% endif %}

	{% if page.header.caption_url && page.header.caption %}
		<div class="masthead-caption">
			<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
		</div>
	{% elsif page.header.caption %}
		<div class="masthead-caption">
			{{ page.header.caption }}
		</div>
	{% endif %}

{% elsif page.header.background-color %}

	<div id="masthead-with-background-color" style="background: {{ page.header.background-color }};">
		<div class="row">
			<figure class="small-12 columns">
				<img src="{{ site.urlimg }}/{{ page.header.image }}" alt="{{ site.title }}">
			</figure><!-- /.small-12.columns -->
		</div><!-- /.row -->
	</div><!-- /#masthead -->

	{% if page.breadcrumb == true %}
		{% include _breadcrumb.html %}
	{% endif %}

	{% if page.header.caption_url && page.header.caption %}
		<div class="masthead-caption">
			<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
		</div>
	{% elsif page.header.caption %}
		<div class="masthead-caption">
			{{ page.header.caption }}
		</div>
	{% endif %}

{% elsif page.header == false %}
	
	{% if page.breadcrumb == true %}
		{% include _breadcrumb.html %}
	{% endif %}

{% endif %}