<script type="text/javascript">
	clockModule = clockModule || {};
	clockModule.races = clockModule.races || [];
	{% for race in site.data.races %}
		clockModule.races.push({
			"name":  "{{race.name}}",
			"day":   "{{race.date}}".substring(0,2),
			"month": "{{race.date}}".substring(3,5),
			"year":  "{{race.date}}".substring(6),
			"stage": "{{race.stage}}"
		});
	{% endfor %}
</script>

<div class="show-for-small-only small-12 white-letter">_</div>
<div id="masthead-sidebar" class="medium-3 small-12 columns masterhead-home-sidebar">
	<div class="masthead-sidebar-tile" style="background-image: url(/images/next_race.jpg);border-bottom: solid 2px #000;">
		<div class="masthead-sidebar-row">
			<div class="masthead-sidebar-title-wrapper">
				<div id="next-race-place" class="masthead-sidebar-title"></div>
				<div class="masthead-sidebar-title-tab"></div>
			</div>

			<div class="next-race-time-wrapper">
				<div class="masthead-sidebar-content">Próxima corrida</div>
				<div id="clockdiv">
					<div>
						<span class="days"></span>
						<div class="smalltext">Dias</div>
					</div>
					<div>
						<span class="hours"></span>
						<div class="smalltext">Hrs</div>
					</div>
					<div>
						<span class="minutes"></span>
						<div class="smalltext">Min</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="show-for-small-only small-12 white-letter">_</div>
	<div class="masthead-sidebar-tile" style="background-image: url(/images/ours_cars.jpg)">
		<div class="masthead-sidebar-row" style="background-color: transparent;">
			<div class="masthead-sidebar-title-wrapper">
				<div id="next-race-place" class="masthead-sidebar-title">
					Conheça nossos carros
				</div>
				<div class="masthead-sidebar-title-tab"></div>
			</div>
			<div class="next-race-time-wrapper" style="justify-content: flex-start;">
				<div style="height: 76px;background-color: rgba(0,0,0,0.8);width: 80%;line-height: 76px;padding-left: 7px;">
					<div class="masthead-sidebar-content">Pise fundo</div>
				</div>
				<div style="width: 0;height: 0;border-top: 0px solid transparent;border-bottom: 76px solid transparent;border-left: 25px solid rgba(0,0,0,0.8);margin: 0;padding: 0;"></div>
			</div>
		</div>
	</div>
</div>